{% extends 'base.html' %}

{% block content %}
    <a href="{{url_for('show_entry', entry_id = subject.entry.id)}}">Return to ENTRY {{subject.entry.id}}</a>
    <a href="{{url_for('show_entry', entry_id = subject.entry.id)}}">Show entry</a>
    <h1>Editing SUBJECT {{subject.index}}</h1>
    <p>Declassified: 0<br>Sensitive: 1<br>Confidential: 2<br>Classified: 3<br>Secret: 4<br>Top Secret: 5</p>
    <form action="{{url_for('edit_subject', entry_id = subject.entry.id, subject_id = subject.index)}}" method="POST">
        {% import 'components/forms.html' as forms %}
        <h2>Info</h2>
        <p class="italic">Numbers the subject, like SUBJECT 1</p>
        {{ forms.field('index', 'Index', value = subject.index)}}
        {{ forms.field('clearance', 'Clearance', 'number', value = subject.clearance) }}

        <h2>Classification</h2>
        <p class="italic">Type (Tag, Tag, Tag Qualifier)</p>
        {{ forms.field('classification_type', 'Type', value = subject.classification_type) }}
        {{ forms.field('classification_qualifier', 'Qualifier', value = subject.classification_qualifier) }}
        {{ forms.field('classification_tags', 'Tags', value = subject.classification_tags) }}

        <h2>Containment</h2>
        <p class="italic">Status (Tag, Tag, Tag)</p>
        {{ forms.field('containment_status', 'Status', value = subject.containment_status) }}
        {{ forms.field('containment_tags', 'Tags', value = subject.containment_tags) }}

        <h2>Risk factor</h2>
        <p class="italic">Danger/Probability</p>
        {{ forms.field('danger', 'Danger', 'number', value = subject.danger) }}
        {{ forms.field('probability', 'Probability', 'number', value = subject.probability) }}

        <h2>Body of text</h2>
        <p class="italic">Use numerical tags in angled brackets (like &lt;1&gt;this&lt;/1&gt;) to protect data.</p>
        <p class="italic">Uses markdown for styling.</p>
        
        {{ forms.textarea('body', 'Body', value = subject.body)}}
        <button>Save changes</button>
    </form>
{% endblock %}