{% extends 'base.html' %}

{% block content %}
    <a href="{{url_for('show_entry', entry_id = addon.subject.entry.id)}}">Return to ENTRY {{addon.subject.entry.id}}</a>
    <a href="{{url_for('show_entry', entry_id = addon.subject.entry.id)}}">Show entry</a>
    <h1>Editing {{addon.addon_type|upper}} {{addon.subject.entry.id}}-{{addon.index}}</h1>
    <p>Declassified: 0<br>Sensitive: 1<br>Confidential: 2<br>Classified: 3<br>Secret: 4<br>Top Secret: 5</p>
    <form action="{{url_for('edit_addon', entry_id = addon.subject.entry.id, subject_id = addon.subject.index, addon_id = addon.index)}}" method="POST">
        {% import 'components/forms.html' as forms %}
        <h2>Index</h2>
        <p class="italic">Numbers the addon, like FOOTNOTE 1</p>
        <label for="index">Index</label>
        <input type="number" name="index" value="{{addon.index}}">

        <h2>Type</h2>
        <p class="italic">Footnote, Addendum, Transcription, etc.</p>
        {{ forms.field('addon_type', 'Type', value = addon.addon_type) }}

        <h2>Body of text</h2>
        <p class="italic">Use numerical tags in angled brackets (like &lt;1&gt;this&lt;/1&gt;) to protect data.</p>
        <p class="italic">HTML tags are supported.</p>
        <p>Declassified: 0<br>Sensitive: 1<br>Confidential: 2<br>Classified: 3<br>Secret: 4<br>Top Secret: 5</p>
        {{ forms.textarea('body', 'Body', value = addon.body)}}
        {{ forms.field('delete', 'Delete?', type = 'checkbox', value = 'on')}}
        <button>Save changes</button>
    </form>
{% endblock %}